@import "../../utils/colors";

.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;

  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__login {
    margin-left: auto;
    margin-right: 20px;
    transition: 0.2s ease;
    text-decoration: none;

    &:hover {
      text-decoration: 1px solid $font-color;
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__search {
    width: 200px;
    margin-left: 30px;
  }
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
}
